// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    /* Backgrounds */
    --app-bg: #00314b;
    --card-bg: #f5f1eb;
  
    /* Ionic palette */
    --ion-color-primary: #a6b7cb;
    --ion-color-primary-rgb: 0,102,255;
    --ion-color-primary-contrast: #00314b;
    --ion-color-primary-contrast-rgb: 255,255,255;
  
    --ion-color-success: #3fc978;
    --ion-color-danger: #ff7272;
    --ion-color-warning: #ffe17d;
  
    /* Text */
    --text-main:#00314b;
    --text-sub:#f5f1eb;
  
    /* Accent */
    --accent:#b8a78c;
}
