// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    /* Backgrounds */
    --app-bg: #363636;
    --card-bg: #cfcfcf;
  
    /* Ionic palette */
    --ion-color-primary: #0066ff;
    --ion-color-primary-rgb: 0,102,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
  
    --ion-color-success: #3fc978;
    --ion-color-danger: #ff7272;
    --ion-color-warning: #ffe17d;
  
    /* Text */
    --text-main:#000000;
    --text-sub:#8C9EFF;
  
    /* Accent */
    --accent:#2d8fff;
}
