<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title class="header">Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="products-content ion-padding" fullscreen>

  <!-- Filtros -->
  <form [formGroup]="filtroForm" class="ion-padding">
    <ion-item>
      <ion-input placeholder="Buscar (código/nombre)" formControlName="q"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-select interface="popover" placeholder="Categoría" formControlName="categoria_id">
        <ion-select-option [value]="null">Todas</ion-select-option>
        <ion-select-option *ngFor="let c of (categorias$ | async)" [value]="c.id">
          {{ c.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </form>

  <ion-list lines="none">
    <ion-item-sliding *ngFor="let p of (productos$ | async)">
      <ion-item detail="false">
        <ion-thumbnail slot="start" *ngIf="p.imagen"><img [src]="p.imagen" /></ion-thumbnail>
        <ion-label>
          <h2 class="name">
            {{ p.nombre }} <ion-note>({{ p.codigo }})</ion-note>
          </h2>
          <p class="price">Precio: ${{ p.precio | number:'1.0-0' }}</p>
          <p class="stock">
            Stock:
            <ng-container *ngIf="!p.ilimitado; else inf">{{ p.stock }}</ng-container>
            <ng-template #inf>∞</ng-template>
          </p>
        </ion-label>
        <ion-button slot="end" fill="clear" (click)="editar(p)">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="eliminar(p)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregar()"><ion-icon name="add"></ion-icon></ion-fab-button>
  </ion-fab>
</ion-content>
