/* ======= CONTENEDOR GLOBAL ======= */
.products-content {
  --background: var(--app-bg);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* ======= FILTROS (buscador + categoría) ======= */
.filtros-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  ion-item {
    border-radius: 12px;
    margin-bottom: 12px;
    --background: rgb(255, 255, 255);
  }
}

/* ======= LISTA DE PRODUCTOS ======= */
ion-list {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background: transparent;
  
}

/* ======= CARD DE PRODUCTO ======= */
.product-card {
  border-radius: 16px;
  padding: 12px;
  --background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(6px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  margin-bottom: 16px;
}

/* TITULO */
.product-card h2 {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;

  ion-note {
    color: #ccc !important;
    font-size: 0.85rem;
  }
}

/* PRECIO Y STOCK */
.product-card p {
  color: #f5f5f5;
  font-weight: 500;
  margin: 4px 0;
}

/* ======= IMAGEN DEL PRODUCTO ======= */
ion-thumbnail img {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  object-fit: cover;
}

/* ======= BOTONES DE ACCIÓN ======= */
.acciones-container {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid rgba(255,255,255,0.15);
}

.acciones-container ion-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  --padding-start: 0;
  --padding-end: 0;
 font-weight: bold;
}

.acciones-container ion-label {
  font-size: 0.7rem;
}

.acciones-container ion-icon {
  font-size: 22px;
  margin-bottom: 4px;
}

/* ======= HEADER ======= */
.header {
  padding-left: 90px;
}
