/* ---------- HEADER ---------- */
.header {
  text-align: center;
  font-size: 20px;
}

/* ---------- CONTENIDO ---------- */
.login-content {
  --background: var(--app-bg);
  display: flex;
  justify-content: flex-start;   
  align-items: center;
  padding: 16px;
  height: 100%;
}

/* Contenedor principal */
.login-wrapper {
  width: 100%;
  max-width: 340px;
  margin-left: 5%;                
}

/* ---------- TITULOS ---------- */
.login-header {
  text-align: left;
  margin-bottom: 20px;
}

.login-header h1 {
  margin-top: 8px;
  font-size: 3rem;
  font-weight: bold;
  color: var(--accent);
}

.login-header h2 {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--text-sub);
}

/* ---------- TARJETA FORMULARIO ---------- */
.login-card {
  width: 100%;
  max-width: 340px;
  border-radius: 12px;
  background-color: var(--card-bg);
  box-shadow: 0 4px 12px var(--shadow-color);
  padding-bottom: 4px;
  margin-left: 0;                
}

.login-card h3 {
  font-size: 1.5rem;
  text-align: left;              
  color: var(--text-main);
  margin: 16px 0 0 16px;         
}

.login-card form {
  padding: 20px 16px;
}

/* ---------- INPUTS ---------- */
ion-item {
  --background: transparent;
  margin-bottom: 18px;
  --color: var(--text-main);
  --placeholder-color: var(--text-sub);
}

ion-label {
  color: var(--text-sub);
}

ion-input {
  color: var(--text-main);
}

/* ---------- BOTÓN ---------- */
ion-button {
  --background: var(--accent);
  --color: var(--card-bg);
  --border-radius: 24px;
  font-weight: 600;
  width: 100%;
}

/* ---------- LINK REGISTRO ---------- */
.register-link {
  margin-top: 18px;
  text-align: center;              
}

.register-link a {
  font-size: 0.9rem;
  color: var(--accent);
  text-decoration: none;
}

/* ---------- FOOTER ---------- */
.footer {
  font-size: 14px;
  text-align: center;              
  color: var(--text-sub);
  margin-top: 30px;
}
